doctype html
html
  head
    meta(name="viewport", content="width=device-width")
    title 馬克在測試

    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

  body
    <!-- #{self.htmlWebpackPlugin.options.data.TIME} -->
    #app
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/vuex/2.3.1/vuex.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.min.js')
